#map {
  height: 600px;
  width: 1000px;
}

.left-box>div {
  height: 100px;
}

.left-box {
  width: 600px;
  overflow-y: auto;
  /* 수직 스크롤이 가능하도록 설정 */
  height: 500px;
  /* 고정 높이 설정 */
  border: 1px solid #ccc;
  /* 테두리 추가 */
  box-sizing: border-box;
  /* 테두리와 패딩을 포함한 크기 계산 */
  height: 100vh;
}

#map {
  width: 100%;
  height: 500px;
  /* 지도도 같은 높이 설정 */
  border: 1px solid #ccc;
  /* 테두리 추가 */
  height: 100vh;
}

/* ----------------------------------------- */


/* tab 영역 */


.btn {
  display: flex;


}

.btn li {
  font-weight: 700;
  width: 100%;
  height: 100px;
  cursor: pointer;
  background-color: #fff;
  padding-top: 75px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  border-bottom: 3px solid #D0EBFE;

}



.btn li:hover,
.btn li.active {
  background-color: #fff;
  border-bottom-color: #81D4FA;
  color: #81D4FA;
}

.btn li:last-child {
  border-right: none;
}

.tabs>div {
  display: none;
  background-color: #fff;
  box-sizing: border-box;

}

.tabs div.active {
  display: block;
}

.tabs div h2 {
  margin-top: 20px;
  color: rgb(77, 76, 73);
  font-size: 24px;
  text-align: right;
  border-bottom: 2px solid black;
  font-weight: 700;

}

.tabs div img {
  float: left;
  margin-right: 10px;
}

.tabs div p {
  font-family: "Noto Sans KR", sans-serif;
}

.content {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #81D4FA;
  font-size: 14px;
  background-color: #fff;
  height: 120px;
  position: relative;
  padding: 5px;

}

.content:hover {
  background-color: #F0F0F0;
}

.delete-button {
  height: 30px;
  /* 버튼의 높이를 30px로 설정 */
  background-color: transparent;
  /* 배경색 투명하게 설정 */
  border: none;
  /* 테두리 없애기 */
  cursor: pointer;
  /* 마우스 포인터 변경 */
  display: flex;
  /* 이미지 중앙 정렬을 위해 flex 사용 */
  align-items: center;
  /* 수직 정렬 */
  justify-content: center;
  /* 수평 정렬 */


}

.delete-button img {
  max-height: 40px;
  /* 이미지 크기 조정 */
  max-width: 40px;
  /* 이미지 크기 조정 */
}
.left-box2>div{
  border-right: 1px solid #222;
}
.content h3 {
  font-size: 1.3rem;
}

/* tab영역 끝 */

.wrap-box {
  display: flex;
  /* 수평으로 나란히 배치 */

}


.left-box2 {
  height: 100%;
  display: flex;
  display: none;
  width: 1200px;
  position: relative;

}

.left-box2.on {
  display: block;
  display: flex;
}

.left-box2 div {
  width: 170px;


}

.left-box2>div>p {
  font-size: 24px;
  border-bottom: 1px solid #D3D3D3;
  font-weight: 700;
}

button {
  width: 20px;
  height: 100px;
}

.open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

#moveButton {
  position: absolute;
  /* 절대 위치 설정 */
  bottom: 10px;
  /* 아래에서 10px 위치 */
  right: 250px;
  /* 오른쪽에서 10px 위치 */
  padding: 10px 20px;
  /* 패딩 설정 */
  border-radius: 5px;
  /* 둥근 모서리 */
  cursor: pointer;
  /* 마우스 포인터 */
  width: 100px;
  height: 60px;
  font-size: 24px;
  font-weight: 700;
}

/* script로 짠 구조 코딩 */


.content .move-button {
  width: 30px;
  height: 50px;
  margin-top: 30px;

}


/* script로 짠 구조 코딩 끝 */