<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>추천 결과</title>
</head>
<body>
<h1>추천된 여행 일정</h1>

<ul>
    <li th:each="day : ${itinerary.days}">
        <h2>Day <span th:text="${day.dayNumber}"></span></h2>
        <ul>
            <li th:each="item : ${day.items}">
                <strong th:text="${item.timeOfDay}"></strong> -
                <span th:text="${item.activityType}"></span>
                <br/>
                <span th:if="${item.activityType == '숙박'}" style="color: blue;">
                    장소: <span th:text="${item.place.title}"></span>
                    <br/>
                    주소: <span th:text="${item.place.addr1}"></span>, <span th:text="${item.place.addr2}"></span>
                    <br/>
                    평점: <span th:text="${item.place.rating}"></span> (총 평점 수: <span th:text="${item.place.userRatingsTotal}"></span>)
                    <br/>
                </span>
                <span th:unless="${item.activityType == '숙박'}">
                    장소: <span th:text="${item.place.title}"></span>
                    <br/>
                    카테고리: <span th:text="${item.place.cat1}"></span>,
                    <span th:text="${item.place.cat2}"></span>,
                    <span th:text="${item.place.cat3}"></span>
                    <br/>
                    위치: <span th:text="${item.place.mapx}"></span>, <span th:text="${item.place.mapy}"></span>
                    <br/>
                    <span th:if="${item.place.rating != null}">
                        평점: <span th:text="${item.place.rating}"></span> (총 평점 수: <span th:text="${item.place.userRatingsTotal}"></span>)
                    </span>
                    <br/>
<!--                    <span th:if="${item.place.openNow != null}">-->
<!--                        <span th:text="${item.place.openNow ? '현재 영업 중' : '현재 영업 종료'}"></span>-->
<!--                    </span>-->
                    <br/>
                    주소: <span th:text="${item.place.addr1}"></span>, <span th:text="${item.place.addr2}"></span>
                    <br/><br/>
                </span>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
