/* container 높이 설정 */
body{
  overflow: hidden;
}
html{
  overflow: hidden;
}
.container {
  height: 100vh;
  padding: 0 160px;
}

.headtxt {
  font-size: 1.5rem;
}

.map img {
  border-radius: 15px;
}

/* 헤더 스타일 */
.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff; /* 헤더 배경색 */
  padding: 10px 20px; /* 상하 여백과 좌우 패딩 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 로고 스타일 */
.logo div {
  background: url("../images/Group 12332.png") no-repeat center;
  width: 80px;
  height: 50px;
  background-size: contain; /* 크기를 비율에 맞게 조정 */
}

/* 로그인 버튼 스타일 */
.login {
  background: url("../images/login1.png") no-repeat center;
  width: 80px;
  height: 50px;
  background-size: contain;
}


.section1-wrap>button {
  border-radius: 15px;
  background-color: white;
  color: #222;
  font-weight: 700;
  width: 50%;

}
.buttonwrap{
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
.previous1,
.previous2,
.previous3,
.previous4,
.previous5,
.previous6
{
  width: 100px;
  background-color: black;
  color: #fff;

}


/* 버튼 스타일 */
button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;

  border-radius: 15px;
  background-color: white;
  color: #222;
  font-weight: 700;
}

span {
  color: #a8a8a8;
}

.planner-txt {
  font-size: 1.225rem;
  font-weight: 500;
  color: #81D4FA;
}

/* 탑으로 올라가는 버튼 */
.top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rebeccapurple;
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}

.top-btn.on {
  opacity: 1;
}

/* 탑으로 올라가는 버튼 */
/* section1 */

.section1 .section1-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.section1-wrap .left-box>h1 {
  font-size: 3rem;
  font-weight: 700;

}

.section1-wrap .left-box>h3 {

  margin: 46px 0;
}

.section1-wrap .left-box>button {
  color: white;
  background-color: #222;
  padding: 36px;
  font-size: 2rem;
}

/* section2 */
.map {
  width: 400px;
  height: 500px;
}

.section2 .section2-wrap-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.section2 button {
  width: 100%;
  background-color: #222;
  color: white;
  font-weight: 600;
  border-radius: 15px;
}

.section2 .con {
  width: calc(20% - 12px);
  height: 100px;
  background-color: #c2c2c2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  font-weight: 600;
  color: #222;
  font-size: 1.5rem;

}

.section2 .con.active {
  background-color: #fff;
  border: 1px solid #000;

}

.section2 .place-box {
  flex-wrap: wrap;
  display: flex;

}

.section2 .right-box {
  width: 600px;
  height: 580px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 15px;
}

/* sectio3 */
.section3 .section3-wrap-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.section3 .section3-box2 {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 600px;
  display: flex;

  flex-direction: column;
  padding: 12px;
  border-radius: 15px;
}

.section3 .sec-3-button {
  width: 100px;
  background-color: #222;
  color: white;
  font-weight: 600;
  border-radius: 15px;
}

.calendar {
  width: 100%;
  height: 550px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.month h2 {
  margin: 0;
  font-size: 1.5em;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 5px;
}

.days div {
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.days div:hover {
  background-color: #ececec;
}

.days .today {
  background-color: #4CAF50;
  color: white;
}

.days .selected {
  background-color: #87CEFA;
  color: white;
}

.days .range {
  background-color: #ADD8E6;
  color: white;
}

/* section4 */
.section4 .section4-wrap-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.section4 button,
.section5 button,
.section6 button,
.section7 button {
  width: 100px;
  background-color: #222;
  color: white;
  font-weight: 600;
  border-radius: 15px;

}

.section4 .image-box {
  width: calc(50% - 10px);
  height: 145px;
  margin-right: 6px;
  position: relative;
  border: 1px solid black;
  filter: grayscale(100%);
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 8px;
}

.section4 .image-box img {
  border-radius: 15px;
}

.section4 .box-txt {
  position: absolute;
  bottom: 8px;
  left: 12px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #222;
}

.section4 .img-box1.on,
.section5 .img-box2.on,
.section4 .img-box3.on,
.section5 .sec-5-box.on,
.section6 .sec-6-box1.on,
.section6 .sec-6-box2.on,
.section7 .sec-7-box.on {
  filter: grayscale(0);
}
.section4 .right-box p{
  font-size: 1.3rem;
}

.section4 .right-box {
  width: 600px;
  height: 570px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 15px;
}


.section4 .section4-con {
  flex-wrap: wrap;
  display: flex;
}


/* --------------------------- */
.section5 .section5-wrap-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.section5 .txt-box {
  position: absolute;
  bottom: 8px;
  left: 12px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #222;
}
.section5 .right-box p{
  font-size: 1.3rem;
}
.section5 .right-box {
  width: 600px;
  height: 600px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 15px;
}

.section5 .box2-top {
  flex-wrap: wrap;
  display: flex;
}

.section5 .img-box2 {
  width: calc(50% - 10px);
  height: 145px;
  margin-right: 6px;
  position: relative;
  border: 1px solid black;
  filter: grayscale(100%);
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 8px;
}

.section5 .sec-5-box {
  width: calc(50% - 10px);
  height: 145px;
  margin-right: 6px;
  position: relative;
  border: 1px solid black;
  filter: grayscale(100%);
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 8px;
}

.section5 .img-box2 img {
  border-radius: 15px;
}

.section5 .sec-5-box img {
  border-radius: 15px;
}

.section5 .bottom-img-box {
  display: flex;
}

.sec-7-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;

  border-radius: 15px;
  background-color: #222;
  color: white;
  font-weight: 700;
  text-align: center;

}

/* ------------section6--------------- */
.section6 .right-box>h1 {
  margin-bottom: 6px;
}

.section6 .bottom-box>h1 {
  margin-bottom: 6px;
}

.section6 .wrap-box,
.section7 .wrap-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.right-box {

  width: 600px;
  height: 720px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 15px;
}

.section6 .sec-6-box1,
.section7 .sec-7-box,
.section6 .sec-6-box2 {
  width: calc(50% - 10px);
  height: 135px;
  margin-right: 6px;
  position: relative;
  border: 1px solid black;
  filter: grayscale(100%);
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 8px;
}

.section6 .bottom-box {
  flex-wrap: wrap;
  display: flex;
}

.section6 .right-box .top-box,
.section7 .right-box .top-box {
  flex-wrap: wrap;
  display: flex;
}

.section6 .sec-6-box1 img,
.section6 .sec-6-box2 img,
.section7 .sec-7-box img {
  border-radius: 15px;
}

.section6 .txt-box,
.section7 .txt-box {
  font-weight: 700;
  position: absolute;
  bottom: 8px;
  left: 12px;
  font-weight: 700;
  font-size: 1.3rem;
  color: #222;
}

/* --------section 7------------- */
.section7 h1 {
  margin-bottom: 10px;
}

.section7 .right-box {
  width: 600px;
  height: 420px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
}

.section7 .right-box>button {
  margin-top: 8px;
}
.wndqhr{
  color: #FFA500 ;
  font-weight: 600;
}
.ekffur{

  color: #FFA500 ;
  font-weight: 600;
}

/* --------------반응형 */
@media (max-width: 1000px) {

  .fp-section,
  .fp-slide,
  .fp-tableCell {
    height: auto !important;
  }

  .section1 .section1-wrap {
    align-items: center;
    justify-content: center;
  }


  .section2 .section2-wrap-box,
  .section3 .section3-wrap-box,
  .section4 .section4-wrap-box,
  .section5 .section5-wrap-box,
  .section6 .wrap-box,
  .section7 .wrap-box {
    align-items: center;
    justify-content: center;
  }



  .section1 .right-box1,
  .section2 .section2-box1,
  .section3 .section3-box1,
  .section4 .section4-box1,
  .section5 .section4-box1,
  .section6 .section4-box1,
  .section7 .section4-box1 {
    display: none;
  }
}

@media (max-width: 376px) {
  .container {
    padding: 200px 16px;

    height: auto;
  }

  /* section1 */
  .section1 .left-box>h1 {
    font-size: 2rem;
  }

  .section1 .left-box>h3 {
    font-size: 1rem;
    margin: 32px 0;
  }

  .section1 .left-box>button {
    padding: 24px;
    font-size: 1rem;
  }

  .section2 .con {
    font-size: 1.125rem;
    height: 65px;
  }

  .section2 .right-box {
    height: 470px;
    width: 340px;
  }

  .section3 .section3-box2 {
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
    width: 360px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
  }

  .days div {
    padding: 8px;
  }

  .section4 .right-box {
    width: 360px;
    height: 450px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 8px;
  }

  .section4 .image-box {
    width: calc(50% - 10px);
    height: 100px;
  }

  .section5 .sec-5-box {
    height: 100px;

  }

  .section5 .right-box {
    height: 470px;
  }

  .section5 .img-box2 {
    height: 100px;
  }

  .section6 .sec-6-box1 {
    height: 100px;
  }

  .section6 .sec-6-box2 {
    height: 100px;
  }

  .right-box {
    height: 630px;
  }

  .section7 .sec-7-box {
    height: 100px;
  }

  .section7 .right-box {
    height: 340px;
  }

}